<li id="micropost-<%= micropost.id %>" class="list-group-item">
  <%= link_to gravatar_for(micropost.user, size: 50), micropost.user, class: "gravatar" %>
  <span class="user">
    <%= link_to micropost.user.name, micropost.user, class: "font-weight-bold" %>
  </span>
  <span class="content d-block" style="margin-left: 60px;">
    <%= micropost.content %>
    <% if micropost.image.attached? %>
      <%= image_tag micropost.image.variant(:display) %>
    <% end %>
  </span>
  <span class="timestamp text-muted d-block" style="margin-left: 60px;">
    Posted <%= time_ago_in_words(micropost.created_at) %> ago.
    <% if current_user?(micropost.user) %>
      <%= link_to "delete", micropost, data: { "turbo-method": :delete, turbo_confirm: "You sure?" } %>
    <% end %>
  </span>
</li>

